@import url('./input.css');

body{
	background: -webkit-radial-gradient(50px 50px,ellipse farthest-corner, #ADADAD,#000000);
	background: 	-ms-radial-gradient(50px 50px,ellipse farthest-corner,#ADADAD,#000000);
	background:    -moz-radial-gradient(50px 50px,ellipse farthest-corner,#ADADAD,#000000);
	background: 	    radial-gradient(50px 50px,ellipse farthest-corner, #ADADAD,#000000);
}

#canv{
	border:1px black;
	margin:0px;
	padding:0px;
	
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-175px;
	
	height:550px;
	width:550px;
	box-shadow: 0px 0px 50px black;
	
	background: -webkit-radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));
	background:    	-ms-radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));
	background:    -moz-radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));
	background: 	    radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));

}
div.nameList{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:200px;
	background-color:rgba(255,255,255,0.9);
	z-index:2;
}
div.listItem{
	height:25px;
	width:200px;
	z-index:3;
}
div.listItemColor{
	position:relative;
	top:0;
	left:0;
	margin-top:2px;
	margin-left:2px;
	height:20px;
	width:20px
}
p.listItemText{
	vertical-align:middle;
	text-align:left;
	position:relative;
	top:0;
	margin:0px;
	left:25px;
	width:165px;
	height:25px;
	margin-top: -20px;
	margin-left:5px;
}

div.share{
	background-color:white;
	margin:0px;
	padding:0px;
	
	position:absolute;
	top:50%;
	left:50%;
	width:200px;
	height:25px;
	margin-top:+250px;
	margin-left:-175px;
	
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 0px 50px black;
}
p.share{
	margin-top:0px;
	margin-left:25px;
	color:blue;
}
p.share:active{
	cursor:pointer;
}
p.share:hover{
	cursor:pointer;
}

div.colorContainer{
	position:absolute;
	top:100%;
	margin-top: -40px;
	left:0px;
	height:40px;
	width:100%;
	text-align:center;
	z-index:1;
	
	background: -webkit-radial-gradient(50px 50px,circle farthest-corner, rgba(100,100,100,0.3), rgba(70,70,70,0.2));
	background:    	-ms-radial-gradient(50px 50px,circle farthest-corner, rgba(150,150,150,0.3), rgba(70,70,70,0.2));
	background:    -moz-radial-gradient(50px 50px,circle farthest-corner, rgba(150,150,150,0.3), rgba(70,70,70,0.2));
	background: 	    radial-gradient(50px 50px,circle farthest-corner, rgba(150,150,150,0.3), rgba(70,70,70,0.2));
	
}
div.none_line{
	position:relative;
	top:50%;
	left:0px;
	width:45px;
	height:3px;
	background:rgba(255, 0, 0, 0.8);
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	margin-left:-8px;
	margin-top:-2px;
}
div.color{
	height:30px;
	width:30px;
	border:1px dotted black;
	box-shadow: 0px 0px 10px black;
	margin:0px;
	border:0px;
	padding:0px;
	display:inline-block;
	margin-top:5px;
	overflow:hidden;
}

div.color:hover{
			animation:hoverColor .25s;
	-webkit-animation:hoverColor .25s;
}
div.color:active{
			animation:clickColor .5s;
	-webkit-animation:clickColor .5s;
}

@keyframes hoverColor 
{
0%   {transform:rotate(0deg);}
33%  {transform:rotate(10deg);}
66%  {transform:rotate(-10deg);}
100% {transform:rotate(0deg);}
}
@-webkit-keyframes hoverColor /* Safari and Chrome */
{
0%   {-webkit-transform:rotate(0deg);}
33%  {-webkit-transform:rotate(10deg);}
66%  {-webkit-transform:rotate(-10deg);}
100% {-webkit-transform:rotate(0deg);}
}

@keyframes clickColor 
{
0%   {transform:rotate(0deg);}
33%  {transform:rotate(180deg);}
66%  {transform:rotate(360deg);}
100% {transform:rotate(0deg);}
}
@-webkit-keyframes clickColor /* Safari and Chrome */
{
0%   {-webkit-transform:rotate(0deg);}
33%  {-webkit-transform:rotate(180deg);}
66%  {-webkit-transform:rotate(360deg);}
100% {-webkit-transform:rotate(0deg);}
}

#bkmsg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:10;
	background-color: rgba(0,0,0,0.8); 
}
div.msg{
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:125px;
	margin-top:-100px;
	margin-left:-200px;
	background-color: white;
	box-shadow: 0px 0px 10px black;
	border-radius: 15px;
}

img.loading{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-12px;
}

#div_setrid{
	
}
#div_setname{
	display:none;
}
#div_load{
	display:none;
}
#div_setpass{
	display:none;
}
#div_shared{
	display:none;
}