@import url('./input.css');

body{
	background: -webkit-radial-gradient(50px 50px,ellipse farthest-corner, #ADADAD,#000000);
	background: 	-ms-radial-gradient(50px 50px,ellipse farthest-corner,#ADADAD,#000000);
	background:    -moz-radial-gradient(50px 50px,ellipse farthest-corner,#ADADAD,#000000);
	background: 	    radial-gradient(50px 50px,ellipse farthest-corner, #ADADAD,#000000);
}

img.backImg{
	position:absolute;
	top:0px;
	left:0px;
	/*
	width:500px;
	height:500px;
	*/
	width: auto;
	height : auto;
	max-height: 100%;
	max-width: 100%;
}
#canv{
	position:absolute;
	top:0px;
	left:0px;
	width:500px;
	height:500px;
}
div.canvContainer{
	margin:0px;
	padding:0px;
	
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-275px;
	margin-left:-150px;
	
	height:500px;
	width:500px;
	box-shadow: 0px 0px 50px black;
	
	background: -webkit-radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));
	background:    	-ms-radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));
	background:    -moz-radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));
	background: 	    radial-gradient(50% 50%,circle farthest-corner, rgba(255,255,255,1), rgba(255,255,255,0.9));

}
div.nameList{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:200px;
	background-color:rgba(255,255,255,0.9);
	z-index:2;
}
div.listItem{
	height:25px;
	width:200px;
	z-index:3;
}
div.listItemColor{
	position:relative;
	top:0;
	left:0;
	margin-top:2px;
	margin-left:2px;
	height:20px;
	width:20px;
	border:1px solid black;
}
p.listItemText{
	vertical-align:middle;
	text-align:left;
	position:relative;
	top:0;
	margin:0px;
	left:25px;
	width:165px;
	height:25px;
	margin-top: -20px;
	margin-left:5px;
}


div.uplPng{
	background-color:white;
	margin:0px;
	padding:0px;
	
	position:absolute;
	top:50%;
	left:50%;
	width:150px;
	height:25px;
	margin-top:+225px;
	
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 0px 50px black;
}
p.uplPng{
	margin-top:0px;
	margin-right:0px;
	text-align:center;
	color:blue;
}
p.uplPng:active{
	cursor:pointer;
}
p.uplPng:hover{
	cursor:pointer;
}

div.savePng{
	background-color:white;
	margin:0px;
	padding:0px;
	
	position:absolute;
	top:50%;
	left:50%;
	width:150px;
	height:25px;
	margin-top:+225px;
	margin-left:+200px;
	
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 0px 50px black;
}
p.savePng{
	margin-top:0px;
	margin-right:0px;
	text-align:center;
	color:blue;
}
p.savePng:active{
	cursor:pointer;
}
p.savePng:hover{
	cursor:pointer;
}

div.share{
	background-color:white;
	margin:0px;
	padding:0px;
	
	position:absolute;
	top:50%;
	left:50%;
	width:80px;
	height:25px;
	margin-top:+225px;
	margin-left:-150px;
	
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 0px 50px black;
}
p.share{
	margin-top:0px;
	margin-left:0px;
	text-align:center;
	color:blue;
}
p.share:active{
	cursor:pointer;
}
p.share:hover{
	cursor:pointer;
}

#bkmsg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:10;
	background-color: rgba(0,0,0,0.8); 
}
div.msg{
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:125px;
	margin-top:-100px;
	margin-left:-200px;
	background-color: white;
	box-shadow: 0px 0px 10px black;
	border-radius: 15px;
}

img.loading{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-12px;
}

#div_setimg{
	display:none;
}
#div_setrid{
}
#div_setname{
	display:none;
}
#div_load{
	display:none;
}
#div_setpass{
	display:none;
}
#div_shared{
	display:none;
}